<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Track the delivery of order #<%= @order.id %></h2>

    <div class="mt-6 sm:mt-8 lg:flex lg:gap-8">
      <div class="w-full divide-y divide-gray-200 overflow-hidden rounded-lg border border-gray-200 dark:divide-gray-700 dark:border-gray-700 lg:max-w-xl xl:max-w-2xl">
        <% @order.product_snapshots.each do |snapshot| %>
          <div class="space-y-4 p-6">
            <div class="flex items-center gap-6">
              <a href="#" class="h-14 w-14 shrink-0">
                <% if snapshot.image.attached? %>
                  <%= image_tag snapshot.image, class: "h-full w-full", alt: snapshot.name %>
                <% else %>
                  <img class="h-full w-full dark:hidden" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front.svg" alt="product image" />
                  <img class="hidden h-full w-full dark:block" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front-dark.svg" alt="product image" />
                <% end %>
              </a>

              <a href="#" class="min-w-0 flex-1 font-medium text-gray-900 hover:underline dark:text-white">
                <%= snapshot.name %>
              </a>
            </div>

            <div class="flex items-center justify-between gap-4">
              <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
                <span class="font-medium text-gray-900 dark:text-white">Product ID:</span> <%= snapshot.id %>
              </p>

              <div class="flex items-center justify-end gap-4">
                <p class="text-base font-normal text-gray-900 dark:text-white">x<%= snapshot.quantity %></p>
                <p class="text-xl font-bold leading-tight text-gray-900 dark:text-white">
                  <%= number_to_currency(snapshot.price) %>
                </p>
              </div>
            </div>
          </div>
        <% end %>

        <div class="space-y-4 bg-gray-50 p-6 dark:bg-gray-800">
          <div class="space-y-2">
            <dl class="flex items-center justify-between gap-4">
              <dt class="font-normal text-gray-500 dark:text-gray-400">Original price</dt>
              <dd class="font-medium text-gray-900 dark:text-white">
                <%= number_to_currency(@order.total) %>
              </dd>
            </dl>

            <% if @order.delivery_information %>
              <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500 dark:text-gray-400">Delivery Fee</dt>
                <dd class="font-medium text-gray-900 dark:text-white">$99.00</dd>
              </dl>

              <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500 dark:text-gray-400">Tax</dt>
                <dd class="font-medium text-gray-900 dark:text-white">
                  <%= number_to_currency(@order.total * 0.1) %>
                </dd>
              </dl>
            <% end %>
          </div>

          <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700">
            <dt class="text-lg font-bold text-gray-900 dark:text-white">Total</dt>
            <dd class="text-lg font-bold text-gray-900 dark:text-white">
              <%= number_to_currency(@order.total + 99 + (@order.total * 0.1)) %>
            </dd>
          </dl>
        </div>
      </div>

      <div class="mt-6 grow sm:mt-8 lg:mt-0">
        <div class="space-y-6 rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Order history</h3>

          <ol class="relative ms-3 border-s border-gray-200 dark:border-gray-700">
            <% @order.order_histories.order(created_at: :desc).each do |history| %>
              <li class="mb-10 ms-6">
                <span class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-gray-100 ring-8 ring-white dark:bg-gray-700 dark:ring-gray-800">
                  <% if history.status_to == 'delivered' %>
                    <svg class="h-4 w-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"/>
                    </svg>
                  <% elsif history.status_to == 'shipped' %>
                    <svg class="h-4 w-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h6l2 4m-8-4v8m0-8V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v9h2m8 0H9m4 0h2m4 0h2v-4m0 0h-5m3.5 5.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm-10 0a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
                    </svg>
                  <% else %>
                    <svg class="h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5" />
                    </svg>
                  <% end %>
                </span>
                <h4 class="mb-0.5 text-base font-semibold text-gray-900 dark:text-white">
                  <%= l(history.created_at, format: :long) %>
                </h4>
                <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
                  <%= history.note %>
                </p>
              </li>
            <% end %>
          </ol>

          <div class="gap-4 sm:flex sm:items-center">
            <% if !@order.shipped? && !@order.delivered? && !@order.cancelled? %>
              <%= button_to "Cancel the order", 
                          cancel_order_path(@order), 
                          method: :patch,
                          class: "w-full rounded-lg border border-red-600 bg-red-600 px-5 py-2.5 text-sm font-medium text-white hover:bg-red-700 hover:border-red-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-red-300 dark:border-red-600 dark:bg-red-600 dark:text-white dark:hover:bg-red-700 dark:hover:text-white dark:focus:ring-red-800",
                          data: { turbo_confirm: "Are you sure you want to cancel this order?" } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
