<div class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:p-6" id="cart-item-<%= cart_product.id %>">
  <div class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0">
    <a href="<%= product_path(cart_product.product) %>" class="shrink-0 md:order-1">
      <img class="h-20 w-20 dark:hidden" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/iphone-light.svg" alt="<%= cart_product.product.name %> image" />
      <img class="hidden h-20 w-20 dark:block" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/iphone-dark.svg" alt="<%= cart_product.product.name %> image" />
    </a>

    <label for="counter-input-<%= cart_product.id %>" class="sr-only">Choose quantity:</label>
    <div class="flex items-center justify-between md:order-3 md:justify-end">
      <div class="flex items-center">
        <%= link_to decrement_cart_carts_product_path(cart_product),
            id: "decrement-button-#{cart_product.id}",
            class: "inline-flex h-5 w-5 shrink-0 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700",
            data: { turbo_method: :patch, input_counter_decrement: "counter-input-#{cart_product.id}" } do %>
          <svg class="h-2.5 w-2.5 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16" />
          </svg>
        <% end %>

        <input type="text" id="counter-input-<%= cart_product.id %>" data-input-counter class="w-10 shrink-0 border-0 bg-transparent text-center text-sm font-medium text-gray-900 focus:outline-none focus:ring-0 dark:text-white" value="<%= cart_product.quantity %>" required />

        <%= link_to increment_cart_carts_product_path(cart_product), 
            id: "increment-button-#{cart_product.id}", 
            class: "inline-flex h-5 w-5 shrink-0 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700", 
            data: { turbo_method: :patch, input_counter_increment: "counter-input-#{cart_product.id}" } do %>
          <svg class="h-2.5 w-2.5 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
          </svg>
        <% end %>
      </div>
      <div class="text-end md:order-4 md:w-32">
        <p class="text-base font-bold text-gray-900 dark:text-white">$<%= cart_product.product.price * cart_product.quantity %></p>
      </div>
    </div>

    <div class="w-full min-w-0 flex-1 space-y-4 md:order-2 md:max-w-md">
      <a href="<%= product_path(cart_product.product) %>" class="text-base font-medium text-gray-900 hover:underline dark:text-white">
        <%= cart_product.product.name %>
      </a>

      <div class="flex items-center gap-4">
        <button type="button" class="inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-900 hover:underline dark:text-gray-400 dark:hover:text-white">
          <svg class="me-1.5 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z" />
          </svg>
          Add to Favorites
        </button>

        <%#= button_to 'Remove', cart_product_path(cart_product), method: :delete, class: "inline-flex items-center text-sm font-medium text-red-600 hover:underline dark:text-red-500" do %>
        <%= button_to 'Remove', method: :delete, class: "inline-flex items-center text-sm font-medium text-red-600 hover:underline dark:text-red-500" do %>
          <svg class="me-1.5 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
          </svg>
          Remove
        <% end %>
      </div>
    </div>
  </div>
</div>
