<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
  <%= form_with url: payments_path, method: :post, data: { turbo: false }, local: true, html: { class: "mx-auto max-w-screen-xl px-4 2xl:px-0" } do |f| %>
    <%= f.hidden_field :order_id, value: @order.id %>
    <div class="mx-auto max-w-3xl">
      <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Order summary</h2>

      <div class="mt-6 space-y-4 border-b border-t border-gray-200 py-8 dark:border-gray-700 sm:mt-8">
        <h4 class="text-lg font-semibold text-gray-900 dark:text-white">Billing & Delivery information</h4>

        <dl>
          <dt class="text-base font-medium text-gray-900 dark:text-white">Individual</dt>
          <dd class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400">
            <%= "#{@order.delivery_information.first_name} #{@order.delivery_information.last_name}" %> - 
            <%= @order.delivery_information.number %>, 
            <%= @order.delivery_information.address %>, 
            <%= @order.delivery_information.city %>, 
            <%= @order.delivery_information.country %>
          </dd>
        </dl>
      </div>

      <div class="mt-6 sm:mt-8">
        <div class="relative overflow-x-auto border-b border-gray-200 dark:border-gray-800">
          <table class="w-full text-left font-medium text-gray-900 dark:text-white md:table-fixed">
            <tbody class="divide-y divide-gray-200 dark:divide-gray-800">
              <% @order.product_snapshots.each do |snapshot| %>
                <tr>
                  <td class="whitespace-nowrap py-4 md:w-[384px]">
                    <div class="flex items-center gap-4">
                      <a href="#" class="flex items-center aspect-square w-10 h-10 shrink-0">
                        <img class="h-auto w-full max-h-full dark:hidden" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front.svg" alt="product image" />
                        <img class="hidden h-auto w-full max-h-full dark:block" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front-dark.svg" alt="product image" />
                      </a>
                      <a href="#" class="hover:underline" title="<%= snapshot.name %>"><%= truncate(snapshot.name, length: 40) %></a>
                    </div>
                  </td>

                  <td class="p-4 text-base font-normal text-gray-900 dark:text-white">x<%= snapshot.quantity %></td>

                  <td class="p-4 text-right text-base font-bold text-gray-900 dark:text-white">
                    <%= number_to_currency(snapshot.price) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="mt-4 space-y-6">
          <h4 class="text-xl font-semibold text-gray-900 dark:text-white">Order summary</h4>

          <div class="space-y-4">
            <div class="space-y-2">
              <dl class="flex items-center justify-between gap-4">
                <dt class="text-gray-500 dark:text-gray-400">Original price</dt>
                <dd class="text-base font-medium text-gray-900 dark:text-white">
                  <%= number_to_currency(@order.total) %>
                </dd>
              </dl>

              <dl class="flex items-center justify-between gap-4">
                <dt class="text-gray-500 dark:text-gray-400">Store Pickup</dt>
                <dd class="text-base font-medium text-gray-900 dark:text-white">$99.00</dd>
              </dl>

              <dl class="flex items-center justify-between gap-4">
                <dt class="text-gray-500 dark:text-gray-400">Tax</dt>
                <dd class="text-base font-medium text-gray-900 dark:text-white">
                  <%= number_to_currency(@order.total * 0.1) %>
                </dd>
              </dl>
            </div>

            <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700">
              <dt class="text-lg font-bold text-gray-900 dark:text-white">Total</dt>
              <dd class="text-lg font-bold text-gray-900 dark:text-white">
                <%= number_to_currency(@order.total + 99 + (@order.total * 0.1)) %>
              </dd>
            </dl>
          </div>

          <div class="flex items-start sm:items-center">
            <input id="terms-checkbox-2" type="checkbox" value="" class="h-4 w-4 rounded border-gray-300 bg-gray-100 text-primary-600 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" />
            <label for="terms-checkbox-2" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"> I agree with the <a href="#" title="" class="text-primary-700 underline hover:no-underline dark:text-primary-500">Terms and Conditions</a> of use of the Flowbite marketplace </label>
          </div>

          <div class="gap-4 sm:flex sm:items-center">
            <%= f.submit "Pay Now", class: "flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4  focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
